<div id="container">
    <h2><span>About me</span></h2>
    <div id="first">
        <img src="../../assets/Profile.jpg" alt="profile picture" width="126" height="126">

    </div>
    <div id="second">

        <p>I am Mugila Jeyam, highly focused and dedicated person with innovative mind and hardworking qualities. My
            objective
            is to
            join a project that offers me a stable and positive atmosphere and inspires me in all the way to enhance and
            therefore to innovate the work culture for the betterment of all the parties concerned.
        <br>
        <br>
        <b>Languages Known: </b>C#, OOPS, SQL, DBMS, Typescript
        <br>
        <b>Frameworks Known: </b>.NETCore, Angular
    </p>
    </div>
</div>